---
import { ViewTransitions } from "astro:transitions";
import IndexMenu from "@/components/ui/Index/Index.astro";
const { frontmatter, headings, file } = Astro.props;

// const testProps = {
//   ...Astro.props,
// };
// console.log("testProps", testProps);

// Function to generate breadcrumbs
function generateBreadcrumbs(url) {
  const parts = url.split("/").filter(Boolean);
  let path = "";
  return [
    { name: "Inicio", url: parts.length === 0 ? null : "/" },
    ...parts.map((part, index) => {
      path += `/${part}`;
      return {
        name: part.charAt(0).toUpperCase() + part.slice(1).replace(/-/g, " "),
        url: index === parts.length - 1 ? null : path,
      };
    }),
  ];
}
const breadcrumbs = generateBreadcrumbs(Astro.url.pathname);
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{frontmatter.title} - Guía de Programación</title>
    <ViewTransitions />
    <style>
      main {
        display: flex;
        flex-direction: column;
      }
      header {
        padding: 12px;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
      }
      body {
        margin: 0px;
        font-family: "Source Sans Pro", sans-serif;
        background-color: #f5f5f5;
        line-height: 1.6;
        color: #333;
        margin: 0;
        padding: 0;
      }
      nav {
        background-color: #a8a8a8;
        padding: 10px;
      }
      nav a {
        margin-right: 15px;
        color: #333;
        text-decoration: none;
      }
      h1 {
        color: #0066cc;
      }
      .breadcrumbs {
        margin-bottom: 20px;
        font-size: 0.9em;
      }
      .breadcrumbs a {
        color: #0066cc;
        text-decoration: none;
      }
      .breadcrumbs span:last-child {
        color: #666;
      }
    </style>
  </head>
</html>
<body class="flex flex-col gap-2 w-full">
  <nav>
    <a href="/">Guía</a>
  </nav>
  <IndexMenu class="px-4" />
  <main class="flex flex-col items-center px-4 w-full">
    <div class="w-full max-w-3xl">
      <div class="breadcrumbs px-4">
        {
          breadcrumbs.map((crumb, index) => (
            <span>
              {index > 0 && " > "}
              {crumb.url ? (
                <a href={crumb.url}>{crumb.name}</a>
              ) : (
                <span>{crumb.name}</span>
              )}
            </span>
          ))
        }
      </div>
      <h1>{frontmatter.title}</h1>
      <slot />
    </div>
  </main>
</body>
